<launch>
  <node name="$(anon optitrack_node)" pkg="VisionPkg" type="streamnode2" output="screen" respawn="true" cwd="node">
    
    <param name="local_ip" value="128.178.145.215"/> // must provide this according to your local computer ip
    <param name="use_thread" value="false"/>
    <param name="publish_frequency" value="250"/>
    <!--param name="obj_list" value="myobj1_root myobj2_root"-->   //enable this tag to track specific objects only, otherwise it tracks everything.
    <param name="calib_file" value="../KUKAVisionCalib.txt  ../KUKAVisionCalib.txt "/>   //enable this to load a calibration file and get the correct /vision and /robot frames on the tf
  </node>
</launch>
